


<div ng-if=MyInfoCtrl.userList>
  <ol type="1">
    <li ng-repeat="user in MyInfoCtrl.userList">
      <label>First Name: </label>{{user.fname}}<br />
      <label>Last Name: </label>{{user.lname}}<br />
      <label>Email: </label>{{user.email}}<br />
      <label>MobileNo.: </label>{{user.MobileNo}}<br />
      <label>Favorite Item Name: </label>{{user.favitemname}}<br />
      <label>Register: </label>{{user.register}}<br />
      </li>
    </ol>
</div>


<div ng-show=MyInfoCtrl.userList.length===0>
  You have not register Yet...
  <a href="index.html">Back TO Home</a>
  </div>
